.inject {
  padding: 15px 0;
  h1 {
    display: none;
  }
  ul {
    border-left: 1px solid lightgrey;
    padding-left: 15px;
    li {
      @apply px-1;
      a {
        @apply py-2  w-full flex whitespace-normal;
        border: 1px solid transparent;
        text-decoration: none !important;
        color: gray;
        cursor: pointer;
        padding-left: 10px;
        &:hover {
          @apply bg-gray-200;
          color: gray;
        }
      }
      .active {
        background-color: white !important;
        border: 1px solid lightgray;
        color: rgba(255, 70, 66, 1) !important;
        border-radius: 2px !important;
      }
      ul {
        padding-left: 10px;
      }
    }
  }
}

.logo-wrapper-drawer {
  text-align: left;
}

.logo-wrapper-drawer img {
  width: 120px;
}
